# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\furama_resort_data_base\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
